{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="accordion" id="accordionExample">
                {% for question in questions %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading_{{ loop.index }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_{{ loop.index }}" aria-expanded="true"
                                aria-controls="collapse_{{ loop.index }}">
                            Question #{{ loop.index }}
                        </button>
                    </h2>
                    <div id="collapse_{{ loop.index }}" class="accordion-collapse collapse"
                         aria-labelledby="heading_{{ loop.index }}"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <p class="fs-4" id="question_{{ loop.index }}">{{ question }}</p>
                                <div class="col">
                                    <input type="text" class="form-control" id="answer_{{ loop.index }}"
                                           placeholder="Answer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>{{ form.answer1(class="d-none") }}
                {% for error in form.answer1.errors %}
                <span class="text-danger">[Q1: {{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.answer2(class="d-none") }}
            </div>
            <div>
                {{ form.answer3(class="d-none") }}
            </div>
            <div>
                {{ form.answer4(class="d-none") }}
            </div>
            <div>
                {{ form.answer5(class="d-none") }}
            </div>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-secondary" type="reset" value="Reset">
                <button type="button" class="btn btn-primary" id="first_submit"
                        data-bs-toggle="modal" data-bs-target="#confirmation">Submit
                </button>
            </div>
            <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmation_label"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmation_label">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure of the answers?</p>
                            <p class="text-danger">Cannot be modified after submission</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <p>{{ form.submit(class="btn btn-danger") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('first_submit').addEventListener('click', answer_form)

    function answer_form() {
        for (let i = 1; i < 6; i++) {
            var answer = document.getElementById('answer_' + i).value;
            document.getElementById('answer' + i).setAttribute('value', answer);
        }
    }
</script>

{% endblock %}